<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />
	<!-- Options -->
	<div class="container">
		<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  			<h1 class="display-4" th:text="#{analyzer.zip.title}">Upload</h1>
 			 <p class="lead" th:text="#{analyzer.zip.title.msg}">Please upload the zip file</p>
		</div>
		<form method="POST" action="/analyzer/zip" enctype="multipart/form-data">
			<div class="form-group">
				<label for="zip" th:text="#{analyzer.zip.msg}">Zip file:</label>
				<input class="form-control" type="file" name="zip" accept=".zip" required/>
			</div>
			<div class="form-group">
				<label for="compOpt" th:text="#{analyzer.compOpt.title}">Compilation option:</label>
				<select class="form-control" name="compOpt">
					<option value="java" th:text="#{analyzer.compOpt.java}">Java compilation</option>
					<option value="maven" th:text="#{analyzer.compOpt.maven}">Maven compilation</option>
				</select>
			</div>
			<div class="form-group">
				<label for="args" th:text="#{analyzer.javaCompOpt}">Java compilation arguments:</label>
				<input class="form-control" name="args"/>
				<small class="form-text text-muted" th:text="#{analyzer.optional}">This is optional</small>
			</div>
			<div th:replace="analyzer/queries"/>
			<div class="form-group">
				<input class="form-control btn btn-primary" type="submit" value="Upload" th:value="#{analyzer.submit}"/>
			</div>
		</form>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>