<!DOCTYPE html>
<html th:lang="${#locale}">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />
	<!-- Options -->
	<div class="container">
		<div class="mt-2 mb-4 mx-auto text-center">
  			<h1 class="display-4" th:text="#{analyzer.zip.title}">Upload</h1>
		</div>
		<form class="wb-cont" method="POST" action="/analyzer/zip" enctype="multipart/form-data">
			<div class="form-group">
				<span class="d-block mb-1" th:text="#{analyzer.zip.msg}">Seleccionar archivo comprimido zip</span>
				<div class="custom-file">
				 	<input name="zip" type="file" accept=".zip" required class="custom-file-input" id="fileInput">
				  	<label class="custom-file-label" for="fileInput" th:text="#{analyzer.zip.label}">Seleccionar archivo</label>
				</div>
			</div>
			<div class="form-group">
				<label for="url" th:text="#{analyzer.programName}">Program name:</label>
				<input class="form-control" name="programName" placeholder="example.program.test" th:title="#{tooltip.namePattern}" required/>
				<span class="text-danger" role="alert" th:if=${error} th:text=#{${error}}></span>
			</div>
			<div class="form-group">
				<label for="compOpt" th:text="#{analyzer.compOpt.title}">Compilation option:</label>
				<select class="form-control compOpt" name="compOpt">
				    <option value="maven" th:text="#{analyzer.compOpt.maven}">Maven compilation</option>
					<option value="java" th:text="#{analyzer.compOpt.java}">Java compilation</option>
				</select>
			</div>
			<div id="javaArgs" class="form-group">
				<label for="classpath" th:text="#{analyzer.javaCompOpt}">Java compilation arguments:</label>
				<input class="form-control" name="classpath"/>
				<span class="form-text" th:text="#{analyzer.java.warning}"></span>
				<small class="form-text text-muted" th:text="#{analyzer.optional}">This is optional</small>
			</div>
			<div th:replace="analyzer/queries"/>
			<div class="form-group">
				<input class="form-control btn btn-primary" type="submit" value="Upload" th:value="#{analyzer.submit}"/>
			</div>
			<script type="text/javascript" src="/script/fileChooser.js"></script>
		</form>
	</div>
	<script src="/script/analyzer.js"></script>
	<footer th:replace="fragments/footer" />
</body>
</html>