<!DOCTYPE html>
<html th:lang="${#locale}">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />
	<div class="container mt-3">
		<h1 class="display-4 text-center mt-4 mb-4" th:text="#{query.add.title}">Agregar consulta</h1>
		<form class="form-horizontal wb-cont" method="post" action="/query/add" th:object="${query}">
			<div class="form-group">
				<label class="control-label col-sm-2" for="name" th:text="#{name}">Nombre:</label>
				<div class="col-sm-12">
					<input type="text" class="form-control" name="name" th:value="*{name}"
						 required="true" th:title="#{tooltip.namePattern}"/> 
					<span class="text-danger" th:if="${#fields.hasErrors('name')}"
						th:errors="*{name}"></span>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="description" th:text="#{description}">Descripción:</label>
				<div class="col-sm-12">
					<textarea type="text" class="form-control" name="description" th:title="#{tooltip.required}" rows="3"
						 required="true" th:text="*{description}"/></textarea>
					<span class="text-danger" th:if="${#fields.hasErrors('description')}"
						th:errors="*{description}"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="queryText" th:text="#{query}">Query:</label>
				<div class="col-sm-12">
					<textarea id="queryEditor" class="form-control" name="queryText" rows="10" spellcheck="false" th:text="*{queryText}" th:title="#{tooltip.required}"></textarea>
					<span class="text-danger" th:if="${#fields.hasErrors('queryText')}" th:errors="*{queryText}"/>
				</div>
			</div>
			<div class="form-check mb-3 ml-3">
				<input class="form-check-input" type="checkbox" id="publicForAll" name="publicForAll" th:checked="*{publicForAll}">
				<label class="form-check-label" for="publicForAll" th:text="#{public}">Pública</label>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button id="sendBtn" type="submit" class="btn btn-primary" th:text="#{send}">Enviar</button>
				</div>
			</div>
		</form>
		<script src="/script/queryEdit.js" type="text/javascript"></script>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>
