<!DOCTYPE html>
<html th:lang="${#locale}">
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="m-4 mt-3">
		<h1 class="display-4 px-3 py-3 pt-md-5 pb-md-4 text-center" th:text="#{query.list.title}">Consultas</h1>
		<form action="/query/list" class="mt-2">
			 <div class="input-group">
				<input th:value="${searchText}" type="text" class="form-control" placeholder="es.uniovi.test..." name="searchText">
				<div class="input-group-append">
					<div class="input-group-text"><i class="fa fa-search"></i></div>
				</div>
			 </div>
			 <div class="form-check">
				<input type="checkbox" th:checked="${onlyOwner}" name="onlyOwner" class="form-check-input" id="ownCb" onChange="this.form.submit()">
				<label class="form-check-label" for="ownCb" th:text="#{query.list.ownCb}">Mostrar solo las propias</label>
			</div>
		</form>
		<div class="table-responsive mt-4" th:if="${queriesList.size() > 0}">
			<table class="table table-hover tableQueries" th:fragment="tableQueries" id="tableQueries">
				<thead>
					<tr>
						<th th:text="#{name}">Nombre</th>
						<th th:text="#{description}">Descripción</th>
						<th th:text="#{visibility}">Privacidad</th>
						<th th:text="#{author}">Autor</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="query : ${queriesList}">
						<td th:text="${query.name}"></td>
						<td th:text="${query.description}"></td>
						<td>
							<span th:if="${query.publicForAll}" th:text="#{public}">Pública</span>
							<span th:if="${!query.publicForAll}" th:text="#{private}">Privada</span>
						</td>
						<td th:text="${query.user.email}"></td>
						<td class="nowrap">
							<a class="btn btn-primary" th:href="${'/query/detail/' + query.id}" th:text="#{detail}"></a>
							<button th:if="${session.currentUser.email == query.user.email}" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" th:data-url="${'/query/' + query.id + '/delete'}" th:text="#{delete}">Borrar</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<th:block th:if="${queriesList.size() > 0}">
			<div  th:replace="fragments/pagination"/>
		</th:block>
		<div class="container" th:if="${queriesList.size() <= 0}">
			<h2 class="text-center mt-5" th:text="#{query.list.empty}">No queries to show</h2>
		</div>
	</div>
	<div th:replace="fragments/deleteDialog"/>
	<footer th:replace="fragments/footer" />
</body>
</html>