
body {
	background: radial-gradient(circle, rgba(43,43,43,1) 0%, rgba(237,234,234,1) 0%, rgba(155,237,254,1) 100%);
}

@media (max-width: 767px) {
	.card-deck {
	    flex-flow: column;
	}
}

.card-body {
	display: flex;
    flex-direction: column;
}

.navbar-text {
	color: #007bff;
}

.wb-cont {
	background: white;
	padding: 1.2em;
	border-radius: 1em;
}

.analysisTitle {
	text-transform: uppercase;
	background: #343a40;
	color: white;
	margin: 0px;
	padding: 0.8em;
	font-size: 1.2em;
}

.programAnalyzerContainer .pacText {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em; 
}

.form-hor {
	display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

table {
	background: white;
	padding: 0.2em;
}

td {
	white-space: nowrap;
}

.title {
	overflow-wrap: break-word;
}

.bigIcon {
	font-size: 9em;
}

.tableQueries, .tablePrograms {
    width: 100%;
}

.tcWrapText {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td.description {
    width: 50%;
}

.errorCode {
	font-weight: bolder;
	font-size: 5em;
}

.errorMsg {
	font-size: xx-large;
}

.outdated {
	background: lightgray;
}

.resultHeader {
	padding: 0.8em;
	display: flex;
	background: orange;
	position: relative;
	align-items: center;
}

.pTitle {
	font-weight: bolder;
	margin-right: 1em;
}
