@CHARSET "ISO-8859-1";

body {
	background: radial-gradient(circle, rgba(43,43,43,1) 0%, rgba(237,234,234,1) 0%, rgba(155,237,254,1) 100%);
}

form {
	background: white;
	padding: 1.3em;
	border-radius: 1em;
}

table {
	background: white;
	padding: 0.2em;
}

footer {
	position: absolute;
    bottom: 0;
    width: 100%;
    height: 2em;
}

<<<<<<< HEAD
.title {
	overflow-wrap: break-word;
}

=======
>>>>>>> branch 'master' of https://github.com/Migarve55/ProgQueryWebApp.git
.bigIcon {
	font-size: 9em;
}

.tableQueries {
    width: 100%;
}

.tcWrapText {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td.description {
    width: 50%;
}

td.queryText {
    width: 40%;
}

.queryOp:checked {
	font-weight: bolder;
}

.errorCode {
	font-weight: bolder;
	font-size: 5em;
}

.errorMsg {
	font-size: xx-large;
}
