<!DOCTYPE html>
<html th:lang="${#locale}">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />
	<!-- Options -->
	<main class="container">
		<div class="px-3 py-3 mx-auto text-center">
  			<h1 class="display-4" th:text="#{index.title}">Options</h1>
 			<p class="lead" th:text="#{index.title.msg}">Choose an option</p>
		</div>
		<div class="card-deck mb-3 text-center">
			<div class="card mb-4 shadow-lg">
				<div class="card-header">
					<h4 class="my-0 font-weight-normal" th:text="#{index.file.title}">Single File</h4>
				</div>
				<div class="card-body">
					<i class="fa fa-file-o bigIcon"></i>
					<p th:text="#{index.file.msg}">Upload a Single File</p>
					<a class="btn btn-block mt-auto btn-primary" href="/program/playground" th:text="#{index.go}">Go</a>
				</div>
			</div>
			<div class="card mb-4 shadow-lg">
				<div class="card-header">
					<h4 class="my-0 font-weight-normal" th:text="#{index.zip.title}">Zip File</h4>
				</div>
				<div class="card-body">
					<i class="fa fa-file-archive-o bigIcon"></i>
					<p th:text="#{index.zip.msg}">Upload a Zip File</p>
					<a class="btn btn-block mt-auto btn-primary" href="/analyzer/zip/" th:text="#{index.go}">Go</a>
				</div>
			</div>
			<div class="card mb-4 shadow-lg">
				<div class="card-header">
					<h4 class="my-0 font-weight-normal" th:text="#{index.gh.title}">From GitHub URL</h4>
				</div>
				<div class="card-body">
					<i class="fa fa-github bigIcon"></i>
					<p th:text="#{index.gh.msg}">Upload from a GitHub repository URL</p>
					<a class="btn btn-block mt-auto btn-primary" href="/analyzer/git/" th:text="#{index.go}">Go</a>
				</div>
			</div>
		</div>
		<!-- Error -->
		<div class="alert alert-danger" role="alert" th:if=${error}>
			<p th:text=#{${error}}></p>
			<pre th:text="${errOutput}"></pre>
		</div>
	</main>
	<footer th:replace="fragments/footer" />
</body>
</html>
