<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />
	<!-- Options -->
	<div class="container">
		<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  			<h1 class="display-4 title" th:text="${program.name}">...</h1>
		</div>
		<form method="POST" th:action="${'/program/analyze/' + program.id}">
			<div th:replace="analyzer/queries"/>
			<div class="form-group">
				<input class="form-control btn btn-primary" type="submit" value="Upload" th:value="#{analyzer.submit}"/>
			</div>
		</form>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>
