<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container mt-2" >
		<h1 class="title" th:text="${program.name}"></h1>
		<h2 th:text="#{result.list.title}">Resultados</h2>
		<div class="table-responsive" th:if="${not #lists.isEmpty(resultsList)}">
			<table th:replace="result/list :: tableResults"></table>
		</div>
		<div class="container" th:if="${#lists.isEmpty(resultsList)}">
			<h2 class="text-center mt-5" th:text="#{result.list.empty}">No results to show</h2>
		</div>
		<a class="btn btn-primary" th:href="${'/program/analyze/' + program.id}" th:text="#{analyze}">Analyze</a>
		<a class="btn btn-danger" th:href="${'/program/delete/' + program.id}" th:text="#{delete}">Delete</a>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>
