<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container mt-2">
		<h1 th:text="${program.name}"></h1>
		
		<table th:replace="result/list :: tableResults"></table>
		
		<a class="btn" th:href="${'/program/analyze/' + program.id}" th:text="#{analyze}">Analyze</a>
		<a class="btn btn-danger" th:href="${'/program/delete/' + program.id}" th:text="#{delete}">Delete</a>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>
