<!DOCTYPE html>
<html th:lang="${#locale}">
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="m-4 mt-3">
		<h1 class="display-4 text-center mb-4" th:text="#{program.list.title}">Programs</h1>
		<div class="table-responsive" th:if="${not #lists.isEmpty(programsList)}">
			<table class="table table-hover tablePrograms" th:fragment="tablePrograms" id="tablePrograms">
				<thead>
					<tr>
						<th th:text="#{program.list.name}">Name</th>
						<th th:text="#{result.list.date}">Date</th>
						<th th:text="#{program.list.results}">Results</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="program : ${programsList}">
						<td th:text="${program.name}"></td>
						<td th:text="${#dates.format(program.timestamp, 'HH:mm:ss dd/MM/yyyy')}"></td>
						<td th:text="${program.results.size()}"></td>
						<td>
							<div class="text-right pr-3">
								<a class="btn btn-primary" th:href="${'/program/analyze/' + program.id}" th:text="#{analyze}">Analyze</a>
								<a class="btn btn-primary" th:href="${'/program/detail/' + program.id}" th:text="#{detail}">Detail</a>
								<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" th:data-url="${'/program/' + program.id + '/delete'}" th:text="#{delete}">Borrar</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<th:block th:if="${not #lists.isEmpty(programsList)}">
			<div th:replace="fragments/pagination"/>
		</th:block>
		<div class="container" th:if="${#lists.isEmpty(programsList)}">
			<h2 class="text-center mt-5" th:text="#{program.list.empty}">No programs to show</h2>
		</div>
	</div>
	<div th:replace="fragments/deleteDialog"/>
	<footer th:replace="fragments/footer" />
</body>
</html>